﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Formulario web1.aspx.cs" Inherits="taller2peroenweb.Formulario_web11" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

    xsadasdsa
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="js" runat="server">
</asp:Content>
